body{
	background: #003a00;
    padding-top: 115px;
}

a{
	color: white;
}
a:hover{
	color: #d2ffd2;
}

#chatter button.btn.btn-primary{
    background: white;
    color: green;
    border-radius: 4px;
	border-width: 0;
}

#chatter button.btn.btn-primary:hover{
    background: green;
	color: white;
}

#chatter ul.discussions li a:hover{
	background: #e5ffe5;
}

#chatter #chatter_header{
	background: #002b00;
}
.navbar-brand{
    display: table;
}

.navbar-brand>img{
    display: inline;
}

.navbar-brand .title{
    display: inline;
    padding: 20px;
}

.navbar-default .navbar-toggle{
    border-color: transparent;
    padding: 33px 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: green;
}
.navbar-nav>li>a{
    padding: 37px 20px;
}